@import '../../../variables';

.container {
  padding-bottom: 90px;
  max-width: 700px;
  background: white;

  @media (min-width: 768px) {
    margin: auto;
    padding: 8px;
    margin-bottom: 90px;
    margin-top: 10px;
    border-radius: 6px;
  }
}

h1 {
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 28px auto;
  text-align: center;
  color: $color-primary-1;
}

section {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;

  .helper-text {
    text-align: center;
    font-family: $secondary-font-light;
    font-weight: 300;
    font-style: italic;
    color: $color-primary;
    opacity: 0.6;
    line-height: 1.5rem;

    svg {
      height: 1.4rem;
      margin: 3px;
      margin-bottom: -4px;
    }
  }
}
