<div class="container">
  <section class="top-buttons">
    <button
      class="edit-button"
      (click)="edit()"
      *ngIf="(editMode$ | async) === false"
    >
      Edit
    </button>
    <button
      class="done-button"
      (click)="done()"
      *ngIf="(editMode$ | async) === true"
    >
      Done
    </button>
  </section>
  <h1 *ngIf="selectedList$ | async as selectedList">
    {{ selectedList.name }}
  </h1>

  <section class="movies">
    <keepadoo-movie
      *ngFor="let movie of movies$ | async"
      [movie]="movie"
      [editMode]="editMode$ | async"
      (delete)="deleteMovie($event)"
    ></keepadoo-movie>
  </section>

  <section class="delete-area" *ngIf="(editMode$ | async) === true">
    <button class="delete-button" (click)="askForDeleteConfirmation()">
      Delete list
    </button>

    <keepadoo-dialog [(visible)]="showConfirmationDialog">
      <h4>Are you sure you want to delete this list?</h4>
      <section class="buttons">
        <button (click)="deleteList()">Yes</button>
        <button (click)="cancelListDeletion()">No</button>
      </section>
    </keepadoo-dialog>
  </section>
</div>
