<div class="container">
  <section class="top-buttons">
    <button class="back-button" (click)="goBack()">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="arrow-left"
        class="svg-inline--fa fa-arrow-left fa-w-14 icon"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <g class="fa-group">
          <path
            class="fa-secondary"
            fill="currentColor"
            d="M424 297H137.6L96 256l41.59-41H424c13.3 0 24 11 24 24.63v32.82A24.22 24.22 0 0 1 424 297z"
            opacity="0.4"
          ></path>
          <path
            class="fa-primary"
            fill="currentColor"
            d="M201.69 473.48l-.71-.71L7 273.44a25 25 0 0 1 0-34.78L201 39.23a23.38 23.38 0 0 1 33.11-.7c.24.22.47.46.7.7L256.94 62a25.13 25.13 0 0 1-.4 35.18L95.81 256l160.73 158.8a24.94 24.94 0 0 1 .4 35.18l-22.15 22.78a23.38 23.38 0 0 1-33.1.72z"
          ></path>
        </g>
      </svg>
      <span>Back</span>
    </button>
    <button class="edit-button" (click)="edit()" *ngIf="(editMode$ | async) === false">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="pencil"
        class="svg-inline--fa fa-pencil fa-w-16 icon"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <g class="fa-group">
          <path
            class="fa-secondary"
            fill="currentColor"
            d="M96 352H32l-16 64 80 80 64-16v-64H96zM498 74.26l-.11-.11L437.77 14a48.09 48.09 0 0 0-67.9 0l-46.1 46.1a12 12 0 0 0 0 17l111 111a12 12 0 0 0 17 0l46.1-46.1a47.93 47.93 0 0 0 .13-67.74z"
            opacity="0.4"
          ></path>
          <path
            class="fa-primary"
            fill="currentColor"
            d="M.37 483.85a24 24 0 0 0 19.47 27.8 24.27 24.27 0 0 0 8.33 0l67.32-16.16-79-79zM412.3 210.78l-111-111a12.13 12.13 0 0 0-17.1 0L32 352h64v64h64v64l252.27-252.25a12 12 0 0 0 .03-16.97z"
          ></path>
        </g>
      </svg>
      <span> Edit </span>
    </button>
    <button class="done-button" (click)="done()" *ngIf="(editMode$ | async) === true">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fad"
        data-icon="check"
        class="svg-inline--fa fa-check fa-w-16 icon"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <g class="fa-group">
          <path
            class="fa-secondary"
            fill="currentColor"
            d="M504.5 144.42L264.75 385.5 192 312.59l240.11-241a25.49 25.49 0 0 1 36.06-.14l.14.14L504.5 108a25.86 25.86 0 0 1 0 36.42z"
            opacity="0.4"
          ></path>
          <path
            class="fa-primary"
            fill="currentColor"
            d="M264.67 385.59l-54.57 54.87a25.5 25.5 0 0 1-36.06.14l-.14-.14L7.5 273.1a25.84 25.84 0 0 1 0-36.41l36.2-36.41a25.49 25.49 0 0 1 36-.17l.16.17z"
          ></path>
        </g>
      </svg>
      <span> Done </span>
    </button>
  </section>
  <h1 *ngIf="selectedList$ | async as selectedList">
    {{ selectedList.name }}
  </h1>

  <section class="movies" *ngIf="movies$ | async as movies">
    <keepadoo-movie
      *ngFor="let movie of movies"
      [movie]="movie"
      [editMode]="editMode$ | async"
      (delete)="deleteMovie($event)"
    ></keepadoo-movie>
    <section *ngIf="movies.length === 0" class="helper-section">
      <span class="helper-text"
        >Please use the
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fal"
          data-icon="plus-circle"
          class="svg-inline--fa fa-plus-circle fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M384 250v12c0 6.6-5.4 12-12 12h-98v98c0 6.6-5.4 12-12 12h-12c-6.6 0-12-5.4-12-12v-98h-98c-6.6 0-12-5.4-12-12v-12c0-6.6 5.4-12 12-12h98v-98c0-6.6 5.4-12 12-12h12c6.6 0 12 5.4 12 12v98h98c6.6 0 12 5.4 12 12zm120 6c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-32 0c0-119.9-97.3-216-216-216-119.9 0-216 97.3-216 216 0 119.9 97.3 216 216 216 119.9 0 216-97.3 216-216z"
          ></path>
        </svg>
        button bellow to add your first movie to this list. Magical!</span
      >
    </section>
  </section>

  <section class="delete-area" *ngIf="(editMode$ | async) === true">
    <button class="delete-button" (click)="askForDeleteConfirmation()">
      Delete list
    </button>

    <keepadoo-dialog [(visible)]="showConfirmationDialog">
      <h4>Are you sure you want to delete this list?</h4>
      <section class="dialog-buttons">
        <button class="button-yes" (click)="deleteList()">Yes</button>
        <button class="button-no" (click)="cancelListDeletion()">No</button>
      </section>
    </keepadoo-dialog>
  </section>
</div>
